/**CSS**/
body {
  background-color: black;
}

.underbar {
  padding-top: 50px;
}

.mynav {
  background-color: black;
  color: white;


  font-size: 100%;
  width: 100%;
}

.mynav, a {
  color: white;
}

.mynav, a:link, a:visited {
    background-color: rgba(0,0,0,);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 a:hover, a:active {
    /*background-color: #212121;*/
}

.nava:hover {
  background-color: #212121;
}

.cta {
  padding: 7px 12px;
}

.no {
all: initial;

}


.mylogo {
padding: 0px 0px;
float: left;
font-size: 120%;
}








/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("/images/4.png");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Nosifer';


}

.hero-text, button {

}

.large {
  font-size: 300%;
}

/*gif vid*/

.vidthing {
    /* The image used */
    background-image: url("/vid/leaves.gif");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.vidblog {
    text-align: center;
    padding-top: 5%;
    color: white;
    font-family: 'Nosifer' ;


}




/*end gif vid*/




/*Footer*/

.footer {
  margin-top: 1%;
  color: white;
  text-align: center;
  font-family: 'Nosifer';
  margin-bottom: 1%;
}
