.tools {
  background-image: url("./toolbkg2.jpg");

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
background-attachment: fixed;

}

hr {
  width: 25%;
}

.toolsbkg {
  height: %;
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.toolitem {
  color: white;
}

.itemdesc {

}
